In [3]:
courses = ['History', 'Geography', 'Math', 'Stat', 1, 2.0]

In [5]:
len(courses)

6

In [6]:
type(courses)

list

### Acess list items

In [8]:
courses[0]

'History'

In [9]:
courses[5]

2.0

In [10]:
courses[-1]

2.0

In [12]:
courses[0:3]

['History', 'Geography', 'Math']

In [13]:
courses[0:]

['History', 'Geography', 'Math', 'Stat', 1, 2.0]

In [15]:
courses[:4]

['History', 'Geography', 'Math', 'Stat']

In [16]:
for item in courses:
    print(item)

History
Geography
Math
Stat
1
2.0

In [19]:
for index, item in enumerate(courses):
    print(index, item)

0 History
1 Geography
2 Math
3 Stat
4 1
5 2.0

### change list items

In [20]:
courses

['History', 'Geography', 'Math', 'Stat', 1, 2.0]

In [21]:
courses[4] = "Computer science"

In [22]:
courses

['History', 'Geography', 'Math', 'Stat', 'Computer science', 2.0]

In [23]:
courses[5:6] = ['Art', 'commerce']

In [24]:
courses

['History', 'Geography', 'Math', 'Stat', 'Computer science', 'Art', 'commerce']

In [28]:
courses[-1] = 'Commerce'
courses

['History',
 'Geography',
 'Physics',
 'Math',
 'Stat',
 'Computer science',
 'Art',
 'Commerce']

In [30]:
# insert
courses.insert(2, 'Physics')
courses

['History',
 'Geography',
 'Physics',
 'Physics',
 'Physics',
 'Math',
 'Stat',
 'Computer science',
 'Art',
 'Commerce']

### Adding elements 
append()----> append will add our elemts to the end of the list <br>
insert()----> The insert() method inserts an item at the specified index <br>
extend()----> To append elements from another list to the current list, use the extend() method.<br>
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [37]:
states = ['kerala', 'Tamilnadu', 'Andra', 'Karnataka']
states.append([1,2,3])
states

['kerala', 'Tamilnadu', 'Andra', 'Karnataka', [1, 2, 3]]

In [41]:
# 
states.insert(2, ['a','b','c'])
print(states)

['kerala', 'Tamilnadu', ['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c'], 'Andra', 'Karnataka', [1, 2, 3]]

In [43]:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [44]:
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
numbers = [1,2,3]
letters = ('a', 'b')
numbers.extend(letters)
numbers

[1, 2, 3, 'a', 'b']

### Remove list items
remove()---> The remove() method removes the specified item. <br>
pop()------>The pop() method removes the specified index.
If you do not specify the index, the pop() method removes the last item <br>
del()---> The del keyword can also delete the list completely<br>
clear()--->The clear() method empties the list, The list still remains, but it has no content.

In [45]:
courses

['History',
 'Geography',
 'Physics',
 'Physics',
 'Physics',
 'Math',
 'Stat',
 'Computer science',
 'Art',
 'Commerce',
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3]]

In [48]:
courses.remove(courses[-1])
courses

['History',
 'Geography',
 'Physics',
 'Physics',
 'Physics',
 'Math',
 'Stat',
 'Computer science',
 'Art',
 'Commerce',
 [1, 2, 3]]

In [51]:
courses.remove( [1, 2, 3])

In [52]:
courses

['History',
 'Geography',
 'Physics',
 'Physics',
 'Physics',
 'Math',
 'Stat',
 'Computer science',
 'Commerce']

In [53]:
# if we specify the index, it will pop the respective item
courses.pop(0)

'History'

In [55]:
# if we didnt specify the index, will pop the last itme from the list
courses.pop()

'Commerce'

In [56]:
# The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [57]:
#The del keyword can also delete the list completely.
thislist = ["apple", "banana", "cherry"]
del thislist

In [61]:
#The clear() method empties the list, The list still remains, but it has no content.
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist

[]