In [7]:
1##Print string in a particular format

In [28]:
string = "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [3]:
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [9]:
2## Checking the version of python

In [8]:
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

In [10]:
3# Print current time and date

In [11]:
import datetime

In [14]:
now = datetime.datetime.now()
print(now)

2023-02-07 07:03:51.248988

In [16]:
## 4) Calculate area of a circle

In [20]:
def circle_area():
  r = float(input('enter the radius of the circle:'))
  area = 3.14 * r * r
  print(area)
  return area

In [22]:
circle_area()

enter the radius of the circle:5
78.5

78.5

In [ ]:
# 5. Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.

In [25]:
def name_rev():
  first = str(input('eter first name:'))
  last = str(input('eter last name:'))
  first_rev = first[::-1]
  last_rev = last[::-1]
  full = first_rev + ' ' + last_rev
  #print(full)
  return full

In [27]:
name_rev()

eter first name:raghu
eter last name:murugankutty

'uhgar yttuknagurum'